/* Nav-Bar */
nav{
    background-color: #000;
    font-size: larger;
}
nav .Logo-name{
    color: #fff;
    margin: 5px;
}

.con-body{
	padding-top: 150px;
}
.img-form{
	margin-top: 30px;
	height: 350px;
}
.card{
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.582);
	border-radius: 15px;
	backdrop-filter: blur(5px);
	padding-bottom: 50px;
}
.btn{
	margin-top: 20px;
}
.int-val{
	border: rgba(0, 0, 0, 0.218);
	border-style: dashed;
}
.con-img{
	width: 100%;
	padding-top: 25%;
}